<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {{ moment.include_jquery() }}
    {{ moment.include_moment() }}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.0.2/tailwind.min.css"
          integrity="sha512-+WF6UMXHki/uCy0vATJzyA9EmAcohIQuwpNz0qEO+5UeE5ibPejMRdFuARSrl1trs3skqie0rY/gNiolfaef5w=="
          crossorigin="anonymous"/>
    <title>Todo</title>
    <style>
        .lucky-font {
            font-family: 'Luckiest Guy', cursive;
        }

        .hind-font {
            font-family: 'Hind', sans-serif;
        }

        .error {
            background-color: #fe1111;
        }

        .success {
            background-color: green;
        }

        .info {
            background-color: dodgerblue;
        }

        .warning {
            background-color: #ffdf00;
        }
    </style>
</head>
<body class="bg-gray-900">
<div class="container mx-auto lg:px-96 px-10 hind-font mt-10">
    <a href="{{ url_for('index') }}" class="block uppercase lucky-font text-6xl text-center text-indigo-500 font-extrabold">todo app</a>
    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="{{ category }} rounded-lg py-2 w-full mt-4 text-white text-center text-lg font-bold tracking-wider">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    {% block content %}
    {% endblock %}
</div>
</body>
</html>