{% extends 'base.html' %}
{% block content %}
    {% if current_user.is_authenticated %}
        <div class="mt-4">
            <div class="flex justify-between items-center">
                <div class="flex items-center text-gray-100 uppercase font-extrabold">
                    <img class="mr-4 rounded-full w-10" alt="profile" src="{{ current_user.picture }}">
                    <p class="tracking-widest md:text-2xl text-lg">{{ current_user.name }}</p>
                </div>
                <a class="block font-extrabold bg-gray-900 text-indigo-500" href="{{ url_for('logout') }}"
                   type="button">
                    <svg class="w-8" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                         stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1"></path>
                    </svg>
                </a>
            </div>
        </div>

        <form class="mt-10 bg-gray-200 p-4 rounded-xl" action="{{ url_for('add_todo') }}" method="post">
            {{ form.csrf_token }}
            <div class="text-gray-900">
                <p class="tracking-widest uppercase font-bold font-medium mb-1 text-sm">{{ form.tags.label }}</p>
                {{ form.tags(class_="w-full rounded-lg p-2 text-gray-900 placeholder-gray-900 border-2 border-indigo-700", placeholder="important, school, chores") }}
            </div>
            <div class="mt-4">
                <p class="tracking-widest uppercase font-bold font-medium mb-1 text-sm">{{ form.text.label }}</p>
                {{ form.text(class_="overflow-none resize-none w-full rounded-lg text-gray-900 px-2 border-2 border-indigo-700 py-2") }}
            </div>
            <button class="w-full mt-4 px-4 py-2 uppercase tracking-wider font-bold text-lg rounded-lg bg-indigo-700 text-gray-100">
                add todo
            </button>
        </form>

        <div class="mt-10 text-gray-100">
            {% if not todos.items %}
                <p class="uppercase font-extrabold text-center text-xl pt-24 tracking-wider lucky-font">no todo to
                    display!!!</p>
            {% else %}
                <h1 class="uppercase lucky-font border-b-2 border-white mb-4 text-2xl">todos</h1>
                {% for todo in todos.items %}
                    <div class="rounded-xl border-2 bg-gray-100 text-gray-900 px-4 py-2 relative my-4">

                        <div class="flex justify-between">
                            <div>
                                {% if todo.tags|length > 0 %}
                                    {% for tag in todo.tags %}
                                        <span class="py-1 mr-1 rounded-xl text-indigo-700 tracking-wide text-lg font-medium">#{{ tag.name }}</span>
                                    {% endfor %}
                                {% else %}
                                    <span></span>
                                {% endif %}
                            </div>

                            <div class="flex-shrink-0 px-3 mt-1">
                                <svg class="w-5 text-indigo-700 inline-block" xmlns="http://www.w3.org/2000/svg"
                                     fill="none"
                                     viewBox="0 0 24 24"
                                     stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                          d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                                </svg>
                                <span class="inline-block">{{ moment(todo.created_on).fromNow(refresh=True) }}</span>
                            </div>
                        </div>

                        <p class="text-xl tracking-wide">{{ todo.text }}</p>

                        <div class="flex justify-end">
                            <a href="" class="ml-3">
                                <svg class="w-6 text-yellow-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                     stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                          d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z"></path>
                                </svg>
                            </a>
                            <a href="{{ url_for('delete_todo', id=todo.id) }}" class="ml-3">
                                <svg class="w-6 text-red-600" xmlns="http://www.w3.org/2000/svg" fill="none"
                                     viewBox="0 0 24 24"
                                     stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                          d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"></path>
                                </svg>
                            </a>
                        </div>
                    </div>
                {% endfor %}
                <div class="mx-auto flex justify-center my-2">
                    <a {% if prev_url %} href="{{ prev_url }}" {% else %}{% endif %} type="button"
                                         class="mr-4 bg-gray-300 rounded-tl-lg rounded-bl-lg py-2 px-3 cursor-pointer">
                        <svg class="w-5 text-indigo-600" xmlns="http://www.w3.org/2000/svg" fill="none"
                             viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                  d="M15 19l-7-7 7-7"></path>
                        </svg>
                    </a>
                    <a {% if next_url %} href="{{ next_url }}" {% else %}{% endif %} type="button"
                                         class="bg-gray-300 rounded-tr-lg rounded-br-lg py-2 px-3 cursor-pointer">
                        <svg class="w-5 text-indigo-600" xmlns="http://www.w3.org/2000/svg" fill="none"
                             viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                  d="M9 5l7 7-7 7"></path>
                        </svg>
                    </a>
                </div>
            {% endif %}
        </div>
    {% else %}
        <div class="mt-52 text-gray-100 text-center">
            <p class="lucky-font mb-8 text-2xl text-gray-500 tracking-wider">Keep track and stay organised!</p>
            <a class="font-extrabold uppercase tracking-widest bg-indigo-600 rounded-full px-4 py-3 text-xl w-full block ring-4 ring-indigo-400 text-gray-300"
               href="{{ url_for('login') }}" type="button">Sign up / Login</a>
        </div>
    {% endif %}

    <script type="text/javascript">
      textarea = document.querySelector("#text");
      textarea.addEventListener('input', autoResize, false);

      function autoResize() {
        this.style.height = 'auto';
        this.style.height = this.scrollHeight + 'px';
      }
    </script>
{% endblock %}